<div class="container"> 
    <div> 
    <h2>Ajouter un Sport :</h2>              
    </div> 
    <form >  
           
        <div class="col-sm-2 col-md-2 col-lg-2"> 
          <label >ID  Sport</label> 
          <input  readonly type="text"  [(ngModel)]="newSport.idSport"   
              name="idSport" class="form-control"> 
         </div> 
     
        <div class="col-sm-4 col-md-4 col-lg-4" > 
          <label >Nom Sport</label> 
          <input  type="text"[(ngModel)]= "newSport.nomSport"   
              name="nomSport" class="form-control"> 
        </div> 

        <div class="col-sm-2 col-md-2 col-lg-2"> 
          <label >Description Sport</label> 
          <input type="text"   [(ngModel)]= "newSport.description"   
              name="descriptionSport" class="form-control"> 
        </div> 

        <div class="col-sm-4 col-md-4 col-lg-4"> 
            <label >Date Fondation</label> 
            <input type="date"  [(ngModel)]= "newSport.dateFondation"  
                name="dateFondation" class="form-control"> 
        </div> 

    <div class="col-sm-4 col-md-4 col-lg-4"> 
     <label>Categorie</label> 
   
    <select class="form-control form-control-lg" id="idGen" name="idGen" 
        [(ngModel)]="newIdGen">         
         <option *ngFor="let cat of genres" [value]="cat.idGen" >    
                 {{cat.nomGen}} 
         </option> 
   </select>                      
</div> 
          
  <div class="mt-2"> 
<button type="submit" (click)="addSport()"class="btn btn-success">Ajouter</button> 
  </div>    
    </form> 
</div>        