<div class="container">
    <div>
      <h2>Modifier un Sport :</h2>
    </div>
    <form>
      <div class="form-group row">
        <div class="col-sm-2">
          <label for="idSport">ID Sport</label>
          <input readonly
            type="text"
            id="idSport"
            [(ngModel)]="currentSport.idSport"
            name="idSport"
            class="form-control"
          />
        </div>
  
        <div class="col-sm-4">
          <label for="nomSport">Nom Sport</label>
          <input
            type="text"
            id="nomSport"
            [(ngModel)]="currentSport.nomSport"
            name="nomSport"
            class="form-control"
          />
        </div>
  
        <div class="col-sm-4">
          <label for="descriptionSport">Description Sport</label>
          <input
            type="text"
            id="descriptionSport"
            [(ngModel)]="currentSport.description"
            name="descriptionSport"
            class="form-control"
          />
        </div>
  
        <div class="col-sm-4">
          <label for="dateFondation">Date Fondation</label>
          <input
            type="date"
            id="dateFondation"
            [ngModel]="currentSport.dateFondation | date: 'yyyy-MM-dd'"
            (ngModelChange)="currentSport.dateFondation = $event"
            name="dateFondation"
            class="form-control"
          />
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4"> 
            <select class="form-control form-control-lg" id="idGen" name="idGen"    
            [(ngModel)]="updateGenId">         
            <option *ngFor="let cat of genres" [value]="cat.idGen" >    
            {{cat.nomGen}} 
            </option> 
            </select>                      
            </div> 
      </div>
  
      <div class="mt-2">
        <button type="submit" (click)="updateSport()" class="btn btn-success">
          Modifier
        </button>
      </div>
    </form>
  </div>
  